#page-login {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .login-container {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        .form-container {
            width: 75%;

            fieldset {
                border: none;
                padding: 0 2.4rem;
                display: flex;

                legend {
                    font: 700 3.6rem Archivo;
                    color: var(--color-text-title);
                    margin-bottom: 1.6rem;
                }

                .login-user, 
                .login-password {
                    width: 100%;
                    height: 8rem;
                    border: 0;
                    padding: 4rem;
                }

                .login-user::placeholder {
                    color: #b8b8bd;
                } 

                .login-password::placeholder {
                    color: #b8b8bd;
                }

                .login-user {
                    border-top-left-radius: 0.8rem;
                    border-top-right-radius: 0.8rem;
                }

                .login-password {
                    border-top: solid 1px;
                    border-color: #eeee;
                    border-bottom-left-radius: 0.8rem;
                    border-bottom-right-radius: 0.8rem;
                }

                .login-options {
                    display: flex;
                    justify-content: space-between;
                    color: var(--color-text-complement);
                    line-height: 5rem;
                    font-size: 1.6rem;
                    
                    .login-remember {
                        input {
                            margin-right: 1.5rem;
                        }
                    }
                }

                button {
                    width: 100%;
                    height: 5.6rem;
                    border: 0;
                    border-radius: 0.8rem;
                    cursor: pointer;
                    font: 700 1.4rem Archivo;
                    background: var(--color-secondary);
                    color: var(--color-button-text);
                }

                button:disabled {
                    background: #DCDCE6;
                    color: var(--color-text-complement);
                }
            }
        }

        footer {
            padding: 0 2.4rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 2rem;

            .register {
                color: var(--color-primary); 
                font: 700 1.6rem Archivo;
            }

            p {
                color: var(--color-text-complement);
            }

            img {
                margin-left: 0.6rem;
            }
        }
    }
}

@media(min-width: 1000px) {
    #page-login {
        flex-direction: row;

        .login-container {
            width: 50%;
            height: 100%;

            .form-container {
                legend {
                    margin-bottom: 3.6rem;
                }
            }
        }
    }
}