#page-landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.logo-container {
    grid-area: logo;
    align-self: center;
    text-align: left;
    margin: 0;

    h2 {
        font-weight: 500;
        line-height: 4.6rem;
        margin-top: 0.8rem;
        text-align: initial;
        font-size: 3.2rem;
    }

    img {
        height: 100%;
    }
}

.hero-image {
    width: 100%;    
    grid-area: hero;
    justify-self: end;
}

.buttons-container {
    display: flex;
    margin: 3.2rem 0;    
    grid-area: buttons;
    justify-content: flex-start;
    
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        height: 10.4rem;
        border-radius: 0.8rem;
        font: 700 2.5rem Archivo;
        text-decoration: none;
        color: var(--color-button-text);
        transition: background-color 0.2s;

        img {
            width: 4rem;
            margin-right: 2.4rem;
        }

    }

    a:first-child {
        margin-right: 1.6rem;
    }

    .study {
        background: var(--color-primary-lighter);
    }

    .study:hover {
        background: var(--color-primary-light);
    }

    .give-classes {
        background: var(--color-secondary);
    }
    
    .give-classes:hover {
        background: var(--color-secondary-dark);
    }
}

.total-connections {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    grid-area: total;
    justify-self: start;

    img {
        margin-left: 0.8rem;
    }
}

@media (min-width: 1100px) {
    #page-landing-content {
        max-width: 1100px;
        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            "logo hero hero"
            "buttons buttons total"
        ;
    }
}