.logo-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-primary);
    background-image: url('../../assets/images/success-background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    
    .logo {
        color: var(--color-text-in-primary);
    }
}

@media(min-width: 1000px) {
    .logo-container {
        width: 50%;
        height: 100%;
    
        .logo {
            img {
                height: 15rem;
                width: 100%;
            }

            h2 {
                max-width: 300px;
            }
        }
    }
}